.left-col
  h1 Recent News
  ul.recent-articles.fp-block
    - each article in articles
      li
        a(href="/news/view/"+article.slug)= article.subject
        span.date.short= date(article.status.date)
  a(href="/news") Older Articles...

.right-col
  h1 Recent Registrations
  ul.recent-members.fp-block
    - each member in registrations
      li
        a(href="/player/profile/"+member.aliases[0]+"@"+member.handle)
          span.alias= member.aliases[0]
          span.handle= "@"+member.handle
        span.date.short= date(member.created_at)

  h1 Recently Added Groups
  ul.recent-members.fp-block
    - each group in groups
      li
        a(href="/group/profile/"+group.code)= group.name
        span.date.short= date(group.created_at)