h1 Welcome!
.left-col
  h2 Recent News
  ul.recent-articles.fp-block
    - each article in articles
      li
        a(href="/news/"+article.slug)= article.subject
        span.date.short= date(article.status.date)
    li
      a(href="/news") Older Articles...

  h2 Recent Registrations
  ul.recent-members.fp-block
    - each member in registrations
      li
        a(href="/player/"+encodeURI(member.aliases[0])+"@"+encodeURI(member.handle))
          span.alias= member.aliases[0]
          span.handle= "@"+member.handle
        span.date.short= date(member.created_at)

  h2 Recent Groups
  ul.recent-groups.fp-block
    - each group in groups
      li
        a(href="/group/"+group.code)= group.name
        span.date.short= date(group.created_at)

.right-col
  h2 Current Events
  ul.current-events.fp-block
    li

  h2 Current Tournaments
  ul.current-tournaments.fp-block
    li

  h2 Current Ladders
  ul.current-ladders.fp-block
    li