.article
  h1
    a(href="/news/view/"+article.slug)= article.subject
  - if (player.is_sysop || (player.permissions || []).indexOf("post news") > -1)
    .editline
      a(href="/news/edit/"+article._id) Edit
  .byline
    span.by by: #{article.authors.join(", ")}
    span.link-sep
    span.date published on: #{datetime(article.status.date)}
  .tagline Tags: #{article.tags.join(", ")}
  .body
    != article.article_body
  - if (article.edits && article.edits.length)
    ul.edits
      - each edit in article.edits
        li Edited by #{edit.name} on #{datetime(edit.date)}
