h1 Create Group
form(method="post", accept-charset="utf-8")
  fieldset
    input(type="hidden", name="csrf", value=csrf)
    .form-line
      label(for="name") Group Name
      br
      - if (messages["name"] && messages["name"].length)
        ul.field-error
          - each msg in messages["name"]
            li!= "Name " + msg
      input#name.title(type="text", name="name", value=data.name)
      span.field-status
        span &nbsp;
    .form-line
      label(for="code") Group Code
      br
      - if (messages["code"] && messages["code"].length)
        ul.field-error
          - each msg in messages["code"]
            li!= "Code " + msg
      input#code.text(type="text", name="code", value=data.code)
      span.field-status
        span &nbsp;
    .form-line
      label(for="description") Description
      span.small
        |  (
        a(href="http://daringfireball.net/projects/markdown/syntax", rel="blank") markdown syntax
        |  )
      br
      - if (messages["description"] && messages["description"].length)
        ul.field-error
          - each msg in messages["description"]
            li!= "Description " + msg
      textarea#description(name="description")= data.description || ""
    .form-line
      button.button.positive(type="submit")
        img(src="/css/icons/tick.png",alt="")
        | &#32;Create Group

script(type="text/javascript",src="/js/validators/groupcode.js")
script(type="text/javascript",src="/js/validators/groupname.js")
