#group-profile
  - if (group.logo)
    img.logo(src=group.logo, alt="Group Logo")

  h1= group.name

  - if (editable)
    p.small
      a(href="/group/"+group.code+"/controls") Manage Group

  h2 About
  != gdescription

  ul.profile
    li
      span.label Website:&nbsp;
      - if (group.website)
        span
          a(href=group.website)= group.website
      - else
        span (not listed)
        
    li
      span.label Created On:&nbsp;
      span= datetime(group.created_at)

    li
      span.label Owners:&nbsp;
      ul
        - each owner in owners
          li
            a(href="/player/@"+encodeURI(owner))
              span.handle.only= "@"+owner

    li
      span.label= "Members: "+ member_count
      - if (player && (group.join_type == "approval" || group.join_type == "open"))
        span.small
          |  (
          a(href="/group/"+group.code+"/join") join group
          |  )
      - if (member_count > 0)
        br
        span.small
          a.member-toggle(href="#!/members")
            span.verb view
            |  member list
        ul.grid3.notopline#members(style="display: none;")
          - each member in (group.members || [])
            - if (member.approved)
              li
                a(href="/player/"+encodeURI(member.alias)+"@"+encodeURI(member.handle))
                  span.alias= member.alias
                  span.handle= "@"+member.handle

  h2 Events
  ul.profile
    li

  h2 Tournaments
  ul.profile
    li

  h2 Ladders
  ul.profile
    li

script(type="text/javascript", src="/js/group_profile.js")