- if (player)
  #status-info
    #status-avatar
      - if (player.avatar)
        img.avatar(alt="Player Avatar", src=player.avatar)
      - else
        img.avatar(alt="Player Avatar", src=system.default_avatar)
    span
      span.handle.only @#{player.handle}
      - if (player.is_sysop)
        span.position.sysop SysOp
      - else if (player.is_staff)
        span.position.staff Staff
    br
    a(href="/controls") Controls
    span.link-sep |
    a(href="/logout") Log Out
    br
    a(href="#") Inbox [#{player.messages ? player.messages.new : "0"}]
- else
  #status-info
    #status-avatar
      img.avatar(alt="Player Avatar", src=system.default_avatar)
    span Welcome, Guest!
    br
    a(href="/login") Log In
    span.link-sep |
    a(href="/register") Register
