!!! 5
html
  head
    title= system.title || "Demo System"
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="copyright", content=system.copyright)
    meta(name="description", content=system.description)
    meta(name="keywords", content=system.keywords)
    meta(http-equiv="X-UA-Compatible", content="IE=8")
    
    link(rel="icon", type="image/x-icon", href="/images/favicon.ico")
    link(rel="stylesheet", type="text/css", media="all", href="/css/reset-fonts.css")
    link(rel="stylesheet", type="text/css", media="all", href="/css/lightbox.css")
    link(rel="stylesheet", type="text/css", media="all", href="/css/dogpea.css")
    
    script(type="text/javascript", src="/js/jquery/jquery.min.js")
    script(type="text/javascript", src="/js/jquery/lightbox.min.js")
    script(type="text/javascript", src="/js/jquery/tools.min.js")
    script(type="text/javascript", src="/js/swfobject/videoembed.js")
    script(type="text/javascript", src="/js/tinymce/tiny_mce.js")
    script(type="text/javascript", src="/js/lib/sha1.js")
    script(type="text/javascript", src="/js/lib/underscore.min.js")
    script(type="text/javascript", src="/js/system.js")
  body
    #everything
      #header
        a.header(href="/") &nbsp;
      #content-1
        #content-2
          #body.body-ssl!= body
      #footer
        #footer-left &nbsp;
        #footer-right &nbsp;
        #footer-center
          a(href="#") Report Bugs
          \ |
          a(href="#") Site Feedback
      #subfooter
        #branding
        strong= system.name+":"
        \ 
        a(href="/") Home
        \ |
        a(href="#") Help
        \ |
        a(href="#") Contact Us
        \ |
        a(href="#") About Us
        \ |
        a(href="#") Site Map
        \ |
        a(href="#") Volunteer
        \ |
        a(href="#") Management
        br
        strong Legal:
        \ 
        a(href="#") Terms of Use
        \ |
        a(href="#") Privacy Policy
        \ |
        #{system.copyright}
    :javascript
      | var _gaq = _gaq || [];
      | _gaq.push(['_setAccount', '#{system.analytics}']);
      | _gaq.push(['_trackPageview']);
      | (function() {
      |   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      |   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      |   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      | })();
