!!! 5
html
  head
    title= system.title || "Demo System"
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="copyright", content=system.copyright)
    meta(name="description", content=system.description)
    meta(name="keywords", content=system.keywords)
    meta(http-equiv="X-UA-Compatible", content="IE=8")
    
    link(rel="icon", type="image/x-icon", href="/favicon.ico")
    link(rel="stylesheet", type="text/css", media="all", href="/css/reset-fonts.css")
    link(rel="stylesheet", type="text/css", media="all", href="/css/lightbox.css")
    link(rel="stylesheet", type="text/css", media="all", href="/css/ifm.css")
    
    script(type="text/javascript", src="/js/jquery/jquery.min.js")
    script(type="text/javascript", src="/js/jquery/lightbox.min.js")
    script(type="text/javascript", src="/js/jquery/tools.min.js")
    script(type="text/javascript", src="/js/swfobject/videoembed.js")
    script(type="text/javascript", src="/js/tinymce/tiny_mce.js")
    script(type="text/javascript", src="/js/lib/sha1.js")
    script(type="text/javascript", src="/js/lib/underscore.min.js")
    script(type="text/javascript", src="/js/system.js")
  body
    #container
      #header
        a(href="/")
          h1 EvoGames
          .tagline Something something something
    
      #sidebar
        .aside
          h3 Oops!
          .inner
            p
              | We're sorry, but you have encountered an error. Details of
              |  exactly what type are available on the left. If you believe
              |  that you have reached this in error, please send an e-mail
              |  to #{system.error_email}
        
        .bubble
          h3 About #{system.name}
          .inner
            != partial('description', {collection: [true], as: 'is_true'})
      
      #main
        != body
        
        #footer
          #footer-left &nbsp;
          #footer-right &nbsp;
          #footer-center
            a(href="#") Report Bugs
            span.link-sep |
            a(href="#") Site Feedback  
        #subfooter
          strong #{system.name}:
          \ 
          a(href="/") Home
          span.link-sep |
          a(href="#") Help
          span.link-sep |
          a(href="#") Contact Us
          span.link-sep |
          a(href="#") About Us
          span.link-sep |
          a(href="#") Site Map
          span.link-sep |
          a(href="#") Volunteer
          span.link-sep |
          a(href="#") Management
          br
          strong Legal:
          \ 
          a(href="#") Terms of Use
          span.link-sep |
          a(href="#") Privacy Policy
          span.link-sep |
          #{system.copyright}
    :javascript
      | var _gaq = _gaq || [];
      | _gaq.push(['_setAccount', '#{system.analytics}']);
      | _gaq.push(['_trackPageview']);
      | (function() {
      |   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      |   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      |   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      | })();
