- if (menu.collapse)
  .menu-outer.collapse
    .menu-header
      span.clickable
        span.icon
        #{menu.title}
    ul.menu-inner
      - menu.items.forEach(function(item){
        li
          span.menu-bullet &raquo;
          span.menu-item(title=item.description)
            a(href=item.href) #{item.title}
      - })
- else
  .menu-outer.expand
    .menu-header
      span.clickable
        span.icon
        #{menu.title}
    ul.menu-inner
      - menu.items.forEach(function(item){
        li
          span.menu-bullet &raquo;
          span.menu-item(title=item.description)
            a(href=item.href) #{item.title}
      - })
