!!! 5
html
  head
    title= system.title || "Demo System"
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="copyright", content=system.copyright)
    meta(name="description", content=system.description || "EvoGames")
    meta(name="keywords", content=system.keywords || "EvoGames")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    
    link(rel="icon", type="image/x-icon", href="/favicon.ico")
    link(rel="stylesheet", type="text/css", media="all", href="/css/reset-fonts.css")
    link(rel="stylesheet", type="text/css", media="all", href="/css/prettify.css")
    link(rel="stylesheet", type="text/css", media="screen,projection", href="/css/screen.css")
    link(rel="stylesheet", type="text/css", media="print", href="/css/print.css")
    
    script(type="text/javascript", src="/js/jquery/jquery.min.js")
    script(type="text/javascript", src="/js/jquery/mustache.js")
    script(type="text/javascript", src="/js/jquery/pathbinder.js")
    script(type="text/javascript", src="/js/jquery/evently.js")
    script(type="text/javascript", src="/js/jquery/tools.min.js")
    script(type="text/javascript", src="/js/lib/sha1.js")
    script(type="text/javascript", src="/js/lib/underscore.min.js")
    script(type="text/javascript", src="/js/base.js")
    
  body
    #container
      != partial('noscript')
      #header
        a(href="/")
          h1= system.name
          .tagline Event, tournament, and ladder statistics done right.
          
      #container2
        #main
          #flash
            != partial('flash_info', {collection: flash('info') || [], as: 'msg'})
            != partial('flash_error', {collection: flash('error') || [], as: 'msg'})
          != body
        
        #sidebar
          .sidebar-div
            h3 Oops!
            p
              | We're sorry, but you have encountered an error. Details of
              |  exactly what type are available on the left. If you believe
              |  that you have reached this in error, please send an e-mail
              |  to 
              a(href="mailto:"+system.error_email)= system.error_email  
          
          #about.sidebar-div
            h3 About #{system.name}
            != partial('description')
            
        != partial('footer')
      #subfooter &nbsp;

	script(type="text/javascript", src="/js/system.js")        
    :javascript
      | var _gaq = _gaq || [];
      | _gaq.push(['_setAccount', '#{system.analytics}']);
      | _gaq.push(['_trackPageview']);
      | (function() {
      |   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      |   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      |   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      | })();
