#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})

h1 News Editor
form(method="post", accept-charset="utf-8")
  fieldset
    input(type="hidden", name="csrf", value=csrf)
    .form-line
      label(for="subject") Subject
      br
      - if (messages["subject"] && messages["subject"].length)
        ul.field-error
          - each msg in messages["subject"]
            li!= "Subject " + msg
      input#subject.title(type="text", name="subject", value=data["subject"])
      span.field-status
        span &nbsp;
    .form-line
      label(for="slug") Slug
      br
      - if (messages["slug"] && messages["slug"].length)
        ul.field-error
          - each msg in messages["slug"]
            li!= "Slug " + msg
      input#saved-slug(type="hidden", value=data["_sslug"])
      input#slug.text(type="text", name="slug", value=data["slug"])
      span.field-status
        span &nbsp;
    .form-line
      label(for="tags") Tags
      br
      - if (messages["tags"] && messages["tags"].length)
        ul.field-error
          - each msg in messages["tags"]
            li!= "Tags " + msg
      input#tags.text(type="text", name="tags", value=data["tags"] ? data["tags"].join(", ") : "")
      span.field-status
        span &nbsp;
    .form-line
      label(for="body") Content
      span.small
        |  (
        a(href="http://daringfireball.net/projects/markdown/syntax", rel="blank") markdown syntax
        |  )
      br
      - if (messages["body"] && messages["body"].length)
        ul.field-error
          - each msg in messages["body"]
            li!= "Content " + msg
      textarea#body(name="body")= data["body"] || ""
    .form-line
      input#action(type="hidden", name="action", value="save")
      - if (typeof published != "undefined" && published)
        button#post.button.positive(type="button")
          img(src="/css/icons/tick.png",alt="") 
          | &#32;Save Changes
      - else
        button#save.button(type="button")
          img(src="/css/icons/key.png",alt="") 
          | &#32;Save Draft
        span.link-sep
        button#post.button.positive(type="button")
          img(src="/css/icons/tick.png",alt="") 
          | &#32;Publish
            
script(type="text/javascript",src="/js/validators/newssubject.js")
script(type="text/javascript",src="/js/validators/newsslug.js")
script(type="text/javascript",src="/js/validators/newstags.js")
script(type="text/javascript")
    $(function(){
        $("button#save").bind('click', function (){
            $("#action").val('save');
            $(this).parents("form").submit();
        });

        $("button#post").bind('click', function (){
            $("#action").val('publish');
            $(this).parents("form").submit();
        });
    });