.match-display
  - if (typeof show_header != "undefined" && show_header)
    a(href="/game/"+game.code+"/event/"+event.slug)
      h2
        = event.name
        - if (typeof show_gameheader != "undefined" && show_gameheader)
          |  (
          = game.code.toUpperCase()
          |  )
  a(href="/game/"+game.code+"/event/"+event.slug+"/matches/"+match._id.substring(12))
    h4= "Match ID: "+match._id.substring(12)
  .submitted-by
    | Submitted by:&#32;
    span.handle.only= "@"+match.submitted_by
    |  on
    = datetime(match.created_at)
  .gametype.template= JSON.stringify(event.gametype);
  ul.teams
    - each team, tindex in match.teams
      li.team
        h3= "Team "+(tindex + 1)
        table.players
          thead
            tr
              - if (event.event_type == "group_register")
                th(style="width: 10%;") Group
                th(style="width: 20%;") Player
              - else
                th(style="width: 30%;") Player
              - var width = Math.round(68. / (event.gametype.stats.length + 1), 2)
              th.rating-head(style="width: "+width+"%;") Rating
              - each stat in event.gametype.stats
                th(class="stat-head "+stat.valtype, style="width: "+width+"%;", title=stat.name)= stat.name
          tbody
            - each player in team.players
              tr.player
                - if (event.event_type == "group_register")
                  td(style="width: 10%;")
                    a(href="/group/"+player.groupcode)= player.groupcode
                  td(style="width: 20%;")
                    a(href="/player/"+player.alias+"@"+player.handle)
                      span.alias= player.alias
                      span.handle= "@"+player.handle
                - else
                  td(style="width: 30%;")
                    a(href="/player/"+player.alias+"@"+player.handle)
                      span.alias= player.alias
                      span.handle= "@"+player.handle
                - var width = Math.floor(70. / (event.gametype.stats.length + 1) * 100) / 100
                td(style="width: "+width+"%;")= Math.round(player.rating * 100) / 100
                - each stat in event.gametype.stats
                  td(style="width: "+width+"%;")
                    - if (stat.valtype == "integer" || stat.valtype == "float" || stat.valtype == "formula")
                      = Math.round(player.stats[stat.name.toLowerCase()] * 100) / 100
                    - else
                      = player.stats[stat.name.toLowerCase()]
          tfoot
            tr
              - if (event.event_type == "group_register")
                td(colspan="2")
                  span.record
                    | Record:&#32;
                    span.wins= team.wins
                    |  -
                    span.losses= team.losses
                    |  -
                    span.ties= team.ties
              - else
                td
                  span.record
                    | Record:&#32;
                    span.wins= team.wins
                    | -
                    span.losses= team.losses
                    | -
                    span.ties= team.ties
              td
              - each stat in event.gametype.stats
                td