#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})

h1 Date and Time Preferences
form(method="post", accept-charset="utf-8")
  fieldset.narrow-fields
    input(type="hidden", name="csrf", value=csrf)
    .form-line
      label(for="timezone") Timezone
      br
      select#timezone(name="timezone", size="1")
        option(value="0") Please select...
        - each tz in timezones
          option(value=tz, selected=(data.timezone == tz))= tz
      br
      span#country-filter(style="display: none;")
        span.link-sep
        label(for="country") filter by:&#32;
        select#country(size="1")
          option(value="0") Select to filter...
    .form-line
      label(for="date_format") Date Format
      br
      select#date_format(name="date_format", size="1")
        - each datef in date_formats
          option(value=datef, selected=(data.date_format == datef))= datef
      span.link-sep
      span#current-date.date
    .form-line
      label(for="time_format") Time Format
      br
      select#time_format(name="time_format", size="1")
        - each timef in time_formats
          option(value=timef, selected=(data.time_format == timef))= timef
      span.link-sep
      span#current-time.date
    .form-line
      label(for="datetime_format") DateTime Format
      br
      select#datetime_format(name="datetime_format", size="1")
        - each datetimef in datetime_formats
          option(value=datetimef, selected=(data.datetime_format == datetimef))= datetimef
      span.link-sep
      span#current-datetime.date
    .form-line
      button.button.positive(type="submit")
        img(src="/css/icons/tick.png",alt="")
        | &#32;Save Preferences
      
script(type="text/javascript", src="/js/datetime_prefs.js")
