#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})

!= partial('header', {title: false})
  
#player-profile
  img.avatar(src=avatar(pplayer, 160))

  h1
    span.alias= alias
    span.handle= "@"+pplayer.handle

  h2 About
  ul.profile
    li
      span.label Joined On:
      | 
      span= datetime(pplayer.created_at)

    - if (pplayer._id == player._id || player.is_sysop)
      li
        span.label Aliases
        br
        span.small Aliases are only shown to the profile owner and system administrators.
        ul
          - each oalias in pplayer.aliases
            li
              a(href="/player/"+encodeURI(oalias)+"@"+encodeURI(pplayer.handle))
                span.alias= oalias
                span.handle= "@"+pplayer.handle

      - if (ogroups.length)
        li
          span.label Groups Owned
          br
          span.small Groups owned are only shown to the profile owner and system administrators.
          ul
            - each group in ogroups
              li
                a(href="/group/"+encodeURI(group.code))= group.name

    - if (mgroups.length)
      li
        span.label Group Memberships
        ul
          - each group in mgroups
            li
              a(href="/group/"+encodeURI(group.code))= group.name

  h2 Events
  ul.profile
    li

  h2 Tournaments
  ul.profile
    li

  h2 Ladders
  ul.profile
    li