#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})
  
#player-profile
  img.avatar(src=avatar(pplayer, 160))

  h1
    span.alias= alias
    span.handle= "@"+pplayer.handle

  h2 About
  ul.profile
    li
      span.label Joined On:
      | 
      span= datetime(pplayer.created_at)

    li
      span.label Aliases:
      ul
        - each oalias in pplayer.aliases
          li
            a(href="/player/profile/"+encodeURI(oalias)+"@"+encodeURI(pplayer.handle))
              span.alias= oalias
              span.handle= "@"+pplayer.handle
    li
      span.label Groups
      ul.profile
        li

  h2 Events
  ul.profile
    li

  h2 Tournaments
  ul.profile
    li

  h2 Ladders
  ul.profile
    li