#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})

- var tabindex = 0
h1 Player Registration
form(method="post", accept-charset="utf-8")
  fieldset
    input(type="hidden", name="csrf", value=csrf)
    .form-line
      label(for="email") E-Mail Address
      br
      - if (messages["email"] && messages["email"].length)
        ul.field-error
          - each msg in messages["email"]
            li!= "E-Mail address " + msg
      input#email.text(tabindex=++tabindex, type="email", name="email", value= errors ? data["email"] : "")
      span.field-status
        span &nbsp;
    .form-line
      label(for="confirm_email") Confirm E-Mail
      br
      - if (messages["email_confirm"] && messages["email_confirm"].length)
        ul.field-error
          - each msg in messages["email_confirm"]
            li!= "E-Mail confirmation " + msg
      input#email_confirm.text(tabindex=++tabindex, type="email", name="email_confirm", value= errors ? data["email_confirm"] : "")
      span.field-status
        span &nbsp;
    .form-line
      label(for="password") Password
      br
      - if (messages["password"] && messages["password"].length)
        ul.field-error
          - each msg in messages["password"]
            li!= "Password " + msg
      input#password.text(tabindex=++tabindex, type="password", name="password")
      span.field-status
        span &nbsp;
    .form-line
      label(for="password_confirm") Confirm Password
      br
      - if (messages["password_confirm"] && messages["password_confirm"].length)
        ul.field-error
          - each msg in messages["password_confirm"]
            li!= "Password confirmation " + msg
      input#password_confirm.text(tabindex=++tabindex, type="password", name="password_confirm")
      span.field-status
        span &nbsp;
    .form-line
      label(for="handle") Handle
      br
      - if (messages["handle"] && messages["handle"].length)
        ul.field-error
          - each msg in messages["handle"]
            li!= "Handle " + msg
      input#handle.text(tabindex=++tabindex, type="text", name="handle", value= errors ? data["handle"] : "")
      span.field-status
        span &nbsp;
    .form-line
      label(for="name") Alias
      br
      - if (messages["name"] && messages["name"].length)
        ul.field-error
          - each msg in messages["name"]
            li!= "Alias " + msg
      input#name.text(tabindex=++tabindex, type="text", name="name", value= errors ? data["name"] : "")
      span.field-status
        span &nbsp;
    .form-line
      label(for="recaptcha_response_field") Test for Humanity
      br
      - if (messages["captcha"] && messages["captcha"].length)
        ul.field-error
          - each msg in messages["captcha"]
            li!= "Captcha " + msg
      script(type="text/javascript")
        var RecaptchaOptions = {
          theme : 'clean',
          tabindex: #{++tabindex}
        };
      != recaptcha_form
    .form-line
      span
        | &#32;By registering, you indicate that you agree to the 
        a(href="/tos", rel="blank") Terms of Service
        | &#32;for the site.
      br
      button.button.positive(tabindex=++tabindex, type="submit")
        img(src="/css/icons/tick.png",alt="") 
        | &#32;Register

script(type="text/javascript", src="/js/validators/playeremail.js")
script(type="text/javascript", src="/js/validators/playerpassword.js")
script(type="text/javascript", src="/js/validators/playerhandle.js")
script(type="text/javascript", src="/js/validators/playeralias.js")
